body {
  margin: 0;
}


.hidden {
  display: none
}

#main {
  padding-top: 180px;
}

#alert-box {
  height: 100px;
  margin-bottom: 40px;
  position: fixed;
  width: 100%;
}

#alert-box {
  padding: 20px;
}

#alert-box.success {
  background-color: #a6d8b1
}

#alert-box.error {
  background-color: #d8a7a6
}

button.dismiss {
  padding: 30px;
  margin: 20px;
  width: 200px;
  cursor: pointer;
}

